.calculator-tag {
    display: block;
    text-align: left;
    padding-right: 15px;
}

.calculator-input {
    display: block;
    text-align: right;
}

.calculator-input input[type=text] {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 120px;
    text-align: right;
}

.calculator-input select {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 225px;
    text-align: left;
}

.calculator-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}

.calculator-check input[type=checkbox] {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
